@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<style>
    img{
        
        width:200px; 
        border-radius: 50%;
        height:200px; 
        border: solid 2px #ced4da;
        margin-top:80px;
    }
    .loginbtn
    {
        width:150px;
        font-weight: 300;
        letter-spacing: 2px;  
        font-size: 15px; 
        color:black; 
        background-color:white;
        border-color: #ced4da;
        padding:2px 12px;
    }
</style>

<div class="row justify-content-center" >
    <div class="col-md-4">
        <div style="text-align:center; font-weight: 300;letter-spacing: 2px;  font-size: 34px;" >LOG IN</div>
        <hr />
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" style="font-weight: 200;letter-spacing: 2px;  font-size: 20px; color:black"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" style="font-weight: 200;letter-spacing: 2px;  font-size: 20px; color:black"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" style="font-weight: 200;letter-spacing: 2px;  font-size: 20px; color:black">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group" style="text-align:center">
                    <button type="submit" class="btn loginbtn" >LOG IN</button>
                </div>
                <div class="form-group" style="text-align:center">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-auto" style="left:20px;">
            <img src="~/Img/Log.png"/>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
