@page
@model MainSite.Pages.Main.AddfileModel
@{
}
<form method="post" >
    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="Upload" />
        <input type="submit" class="btn"/>
    </form>

</form>