@page
@model MainSite.Pages.Main.AddfileModel
@{
   
}
@section Scripts
{
    <script type="text/javascript">
   $(document).ready(function()
{
    $("#uploadimg").hover(
        function()
        {
            $(this).attr("src", "/Img/upload.gif");
        },
        function()
        {
            $(this).attr("src", "/Img/upload.png");
        }                         
    );                  
});
</script>
}
<style>
.image-upload > input {
    display: none;
}

</style>
<div class="container-fluid">
    
    <form enctype="multipart/form-data" method="post">
        <div class="image-upload" id="Gif">
            <label for="file-input">
                 <img src="~/Img/upload.png"  style="cursor:pointer,border-radius: 50%; border-color:black" id="uploadimg" />
           </label>

             <input id="file-input" asp-for="FileUpload.Submittedfile" type="file">   

        </div>
        <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
        <input type="hidden" value=@Model._path name="path"/>
    </form>
</div>

